.commandBar {
  margin: 10px 0px 5px 0px;
}

.commandRow {
  margin-top: 10px;
}

.stuffPage {
  margin-top: 20px;
}

.showcase {
  position: absolute;
  background-color: white;
  overflow-y: scroll;
  height: calc(100vh - 150px);
  border-radius: 10px;
}
