.thumbnail {
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    margin: 1%;
    padding-top: 5%;
}

.bottom-left {
    position: absolute;
    bottom: 1px;
    left: 16px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#thumb-img {
    border-radius: 2%;
}