.loginForm {
  margin-top: 10%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.forgetPassword {
  margin-bottom: 15px;
  font-weight: 50;
  font-size: medium;
  text-decoration: none;
}
